@import url('https://cdn.statically.io/gh/rastikerdar/vazir-font/v21.2.1/dist/font-face.css');

body{
	font-family:vazir;
	background:#fff;
}

#mw-head{
	border-bottom: 1px solid #edebeb;
	background: white;
	padding: 20px 0;
}

#left-navigation{
	margin-right: 210px;
	padding-right: 20px;
}

#left-navigation li a{
	font-size: 15px;
}

#right-navigation li a{
	font-size: 14px;
}

#right-navigation li.selected a{
	font-weight: 500;
    color: #000;
    font-size: 15px;
}

#left-navigation li a, #right-navigation li a{
    color: #252525;
    margin-left: 10px;
    text-decoration: none;
}

#left-navigation li a:hover, #right-navigation li a:hover{
    font-weight: 500;
}

#mw-head div, #mw-head li, #mw-head #left-navigation li a, #mw-head #right-navigation li a, #p-cactions-label{
	background: none !important;
}

#p-personal{
	left: 30px;
    top: 28px;
}

#p-personal h3 {
	display: block;
}

#p-personal ul{
	display: inline-grid;
    background: white;
    min-width: 200px;
    padding-right: 0;
    text-align: right;
    position: absolute;
    left: 0;
    opacity: 0;
    display: none;
    visibility: hidden;
    transition: all 0.5s ease;
    padding: 1rem;
    box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
    z-index: 500;
    border-radius: 8px;
}

#p-personal ul li{
	margin-bottom: .4rem;
}

#p-personal ul li a{
	line-height: 1.5;
    padding: .5rem;
    color: #5b5b5b;
    font-size: 14.5px;
}

#p-personal ul li a:hover{
	text-decoration: none;
    font-weight: 500;
}

#p-personal-label{
	color: rgba(0,0,0,0);
    width: 38px;
    height: 38px;
    background: url(https://fa.wikipedia.org/w/skins/Vector/images/user-avatar.svg) center no-repeat #f3f3f3;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}

#p-personal:hover ul{
	visibility: visible;
    opacity: 1;
    display: inline-grid;
}

#pt-userpage{
	border-bottom: 1px solid #eeeeee;
}

#pt-logout{
	border-top: 1px solid #eeeeee;
    margin-top: 5px;
}

#pt-userpage{
    padding-right: .5rem !important;
    font-size: 15px;
}

#pt-userpage a{
	background: none !important;
}

#pt-userpage a:after{
	content: 'مشاهده صفحه کاربری';
	font-size: 12px;
    display: block;
    margin-bottom: 13px;
    color: #858585;
    font-weight: 300;
}

#left-navigation, #right-navigation{
	margin-top: 0;
}

#mw-page-base, #mw-head-base{
	display: none;
}

#right-navigation{
	margin-left: 90px;
}

#simpleSearch{
	width: auto;
}

#simpleSearch #searchInput{
	border: none;
    border-bottom: 1px solid #cecece;
    border-radius: 0;
    padding: 10px;
    max-width: 180px;
    box-shadow: none !important;
}

#searchButton{
	left: -25px;
}

.mw-wiki-logo{
	background: url(https://cdn.discordapp.com/attachments/552487411905593344/653913568655310858/fawiki.png) no-repeat center;
}

.mw-body{
	margin-right: 210px;
	border: none;
    padding-bottom: 0;
    margin-top: 90px;
}

#mw-panel .portal .body li{
	padding: 8px 0;
}

#mw-panel .portal .body li a, #mw-panel .portal .body li a:visited{
	color: #2f2f2f;
    font-size: 15px;
    font-weight: 500;
}

#p-logo{
	margin: auto;
    padding: 20px 0 20px 0;
    background: white;
    width: 100%;
    border-bottom: 1px solid #edebeb;
}

#p-logo a{
	margin: auto;
}

#mw-panel{
	position: fixed;
    width: 210px;
    padding: 0;
    border-left: 1px solid #edebeb;
    background: #f6f9fa;
    min-height: 100%;
}

#bodyContent{
    max-width: 740px;
    margin: 0 auto;
    color: #4a4a4a;
    line-height: 2;
    font-size: 1.1rem;
    font-family: vazir;
    font-weight: 400;
}

#firstHeading{
	border: none;
    font-family: vazir !important;
    font-weight: 700;
    color: #4a4a4a;
    line-height: 2;
    max-width: 740px;
    margin: 0 auto;
}

.mw-body-content h2{
	margin-top: 1em;
    font-size: 1.5em;
    border: none;
    font-family: vazir !important;
    font-weight: 700;
    color: #4a4a4a;
    line-height: 2;
}

#catlinks{
	background: none;
    border: none;
    font-size: 15px;
    text-align: center;
    padding: 0;
    margin-top: 30px;
    color: white;
}

#catlinks ul li{
	border: none;
}

#catlinks ul li a:before{
	content: '#';
}

#catlinks ul li a, #catlinks ul li a:visited{
	color: #252525;
    font-weight: 300;
    display: block;
}

.mw-editsection, #catlinks a{
	display: none;
}

.toc{
	background: white;
    border: none;
    position: absolute;
    top: -50px;
    right: -30px;
    transform: translateX(100%);
    width: 170px;
}

.toc ul ul{
	margin-right: 15px;
}

.toc ul ul li{
	margin-top: -10px;
}

.toc ul ul li a{
	font-size: 10px;
    font-weight: 400;
}

.toc ul li a{
	color: #363636;
    font-size: .8rem;
    font-weight: 500;
}

.toc .toctogglespan:before, .toc .toctogglespan:after{
	opacity: 0;
}

.toc .toctogglespan{
	 font-size: 12px;
    padding-right: 6px;
}

.infobox{
	position: absolute;
    transform: translateX(-100%);
    left: -30px;
    top: 0;
    background: none;
    border: none;
}

.infobox img{
  border-radius: 7px;
}

.infobox small{
	font-size: 11px;
    font-weight: 300;
    opacity: .8;
}

.infobox td, .infobox th{
	background: none !important;
}

#n-sitesupport, #n-cooperateing, #n-contact, #n-help, #p-wikibase-otherprojects, #coll-create_a_book, #t-print, #p-coll-print_export h3, #p-collaboration h3{
	display: none;
}

#p-coll-print_export .body, #p-collaboration .body{
	background: none !important;
}

#p-navigation{
	padding-bottom: 0 !important;
}

#p-collaboration, #p-collaboration ul{
	padding: 0 !important;
}

#footer{
	background: white;
    margin-right: 210px;
}

#footer-icons, #footer-places{
	display: none;
}

#footer-info-lastmod{
	text-align: center;
    font-size: 14px;
    font-weight: 300;
    color: rgba(0,0,0,.6);
    margin-bottom: 40px;
}

#footer-info-copyright{
	font-size: 12px;
    color: #252525;
    text-align: center;
}

#footer-info-copyright a{
	color: #252525;
}


#mp-header{
	margin-bottom: 1150px !important;
}

#mp-header #mf-stat{
	text-align: center;
    font-weight: 400;
    color: #333;
}

#mp-header #mf-stat a, #mp-header #mf-stat a:visited{
	color: #333;
}

#mp-header .hlist{
	margin-right: 0 !important;
    margin-left: 0 !important;
    border-top: 1px solid #edebeb !important;
    margin-top: 25px !important;
}

#mp-header .hlist ul li{
	font-size: 14px;
    font-weight: 300;
    margin-left: 10px;
}

#mp-header .hlist ul li:after{
	content: '';
}

#mp-header .hlist ul li a, #mp-header .hlist ul li a:visited{
	color: #252525;
}

#mp-header .hlist ul li .plainlinks{
	display:none;
}

#mf-fc{
	position: absolute;
    top: 270px;
    width: 100%;
    left: 0;
}

#mf-fc .mp-bar{
	display:none;
}

#mf-fc .hlist ul{
	margin-bottom: 30px;
}

#mf-fc .hlist ul li a{
	background: #252525;
    background-size: cover !important;
    border-radius: 8px;
    overflow: hidden;
    margin-left: 10px;
    display: inline-block;
    width: 150px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    position: relative;
    z-index: 0;
    text-decoration: none;
}

#mf-fc .hlist ul li a:before{
	content: '';
	position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.65);
    z-index: -1;
}

#mf-fc .hlist ul li:after{
	content: '';
}

#mf-fc .hlist div{
	Font-weight: 700 !important;
    margin-bottom: 15px;
    font-size: 17px;
}

#mf-fc .hlist div:before{
	content: 'دسته‌بندی مقاله های ';
	font-weight: 300;
}

#mf-fc .hlist div:after{
	content: ':';
	font-weight: 300;
}


#mf-fc .hlist ul li a[title="درگاه:اخترشناسی"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6e/Veil_Nebula_-_NGC6960.jpg/200px-Veil_Nebula_-_NGC6960.jpg) center !important;
}

#mf-fc .hlist ul li a[title="درگاه:جغرافیا"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Land_ocean_ice_cloud_1024.jpg/200px-Land_ocean_ice_cloud_1024.jpg) center !important;
}

#mf-fc .hlist ul li a[title="درگاه:ریاضیات"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CMAP_-_Centre_de_Math%C3%A9matiques_Appliqu%C3%A9es_de_l%27Ecole_polytechnique_%2825911635211%29.jpg/200px-CMAP_-_Centre_de_Math%C3%A9matiques_Appliqu%C3%A9es_de_l%27Ecole_polytechnique_%2825911635211%29.jpg) center !important;
}

#mf-fc .hlist ul li a[title="درگاه:زیست‌شناسی"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Dna-163466.jpg/200px-Dna-163466.jpg) center !important;
}

#mf-fc .hlist ul li a[title="درگاه:شیمی"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/8/8f/Chemistry-3533039_960_720.jpg/200px-Chemistry-3533039_960_720.jpg) center !important;
}

#mf-fc .hlist ul li a[title="درگاه:علوم زمین"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Thar_desert_Rajasthan_India.jpg/200px-Thar_desert_Rajasthan_India.jpg) center !important;
}

#mf-fc .hlist ul li a[title="درگاه:فیزیک"] {
	background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Physics_class.jpg/200px-Physics_class.jpg) center !important;
}

#mf-fc .hlist ul li a[title="رده:ارتباطات"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Amoros_The_Mirror_Connection_05.jpg/200px-Amoros_The_Mirror_Connection_05.jpg) center !important;
}

#mf-fc .hlist ul li a[title="درگاه:رایانه"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/MacBook_Pro_3rd_Generation_%28colorful_2%29.jpg/200px-MacBook_Pro_3rd_Generation_%28colorful_2%29.jpg) center !important;
}

#mf-fc .hlist ul li a[title="رده:اقتصاد"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4a/Exchange_Money_Conversion_to_Foreign_Currency.jpg/200px-Exchange_Money_Conversion_to_Foreign_Currency.jpg) center !important;
}

#mf-fc .hlist ul li a[title="رده:پزشکی"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Flickr_-_Official_U.S._Navy_Imagery_-_Doctors_perform_surgery_together..jpg/200px-Flickr_-_Official_U.S._Navy_Imagery_-_Doctors_perform_surgery_together..jpg) center !important;
}

#mf-fc .hlist ul li a[title="رده:حقوق"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Golden_Lady_Justice%2C_Bruges%2C_Belgium_%286204837462%29.jpg/200px-Golden_Lady_Justice%2C_Bruges%2C_Belgium_%286204837462%29.jpg) top !important;
}

#mf-fc .hlist ul li a[title="رده:علم بهداشت"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/eb/Hand_Washing_video.webm/200px-Hand_Washing_video.webm.jpg) center !important;
}

#mf-fc .hlist ul li a[title="رده:فناوری"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/42/Inform%C3%A1tica777.jpg/200px-Inform%C3%A1tica777.jpg) center !important;
}

#mf-fc .hlist ul li a[title="رده:کشاورزی"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Agriculture_in_Vietnam_with_farmers.jpg/200px-Agriculture_in_Vietnam_with_farmers.jpg) center !important;
}

#mf-fc .hlist ul li a[title="رده:مدیریت"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Kay_Kratky%2C_Chief_Executive_Officer_%28CEO%29_%2822749951127%29.jpg/200px-Kay_Kratky%2C_Chief_Executive_Officer_%28CEO%29_%2822749951127%29.jpg) center !important;
}

#mf-fc .hlist ul li a[title="رده:مهندسی"] {
	background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/1/1f/Matthew_Crozier%2C_an_11th_Civil_Engineer_Squadron_structural_apprentice%2C_assists_Fabian_Moore%2C_welder%2C_as_he_welds_a_metal_bar_in_place_at_Joint_Base_Andrews_on_Feb._13%2C_2019_%28190213-F-PG738-9278%29.jpg/200px-Matthew_Crozier%2C_an_11th_Civil_Engineer_Squadron_structural_apprentice%2C_assists_Fabian_Moore%2C_welder%2C_as_he_welds_a_metal_bar_in_place_at_Joint_Base_Andrews_on_Feb._13%2C_2019_%28190213-F-PG738-9278%29.jpg) center !important;
}

div.thumbinner{
	border: none !important;
  padding: 0 !important;
  background: none !important;
}

.thumbinner .thumbimage{
	border: none !important;
  border-radius: 7px;
}

.thumbinner .thumbcaption{
	text-align: center !important;
    font-size: 12px;
    font-weight: 200;
    color: #202020;
}

.thumbinner .thumbcaption .magnify{
	display:none;
}
